.main {
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;

    height: 800px;
    min-height: 0;

    .products_section {
        height: 100%;
        flex: 1 1 auto;
        background: #ffffff;
        min-height: 0;

        .scrollabe_products {
            height: 100%;

            overflow-y: scroll;
            overflow: visible;
            /* 
                margin-top: 10px;
                margin: 10px 10px 10px 0px; */

            overflow-y: auto;
            scrollbar-width: none;

            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .left_menu, .edit_menu {
        flex: auto;
        background-color: rgb(255, 255, 255);
        padding: 20px;

        .search_button {
            width: 100%;
            height: 40px;

            margin: 0 auto;
            margin-top: 10px;

            border-radius: 6px;
            border: none;

            background-color: black;
            color: white;
        }
    }

    @media (min-width: 768px) {
        .left_menu {
            padding-left: 30px;
        }
    }

    @media (max-width: 768px) {
        .left_menu {
            width: 100%;
            height: 30vh;
            padding: 0 auto;
        }
    }
}

footer {
    height: 200px;
    background-color: rgb(34, 32, 32);
    text-align: center;
    color: rgb(255, 255, 255);

    align-content: center;

    flex-shrink: 0;

    .footer_project_info {
        width: fit-content;

        margin: 0 auto;
    }
    
    .footer_link {
        color: white;
        text-decoration: none;
    }

    .footer_link:hover {
        text-decoration: underline;
    }
}